@import '../../node_modules/react-selectize/themes/index.css';

.react-selectize.root-node {
	width: 100%;
}

.jumbotron {
	margin-top:30px;
	padding-top:2px;
}

.selectize {
	margin: 0;
}

.rule-components > div,
.graph-slider-container > div {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.btn-exit {
	color: #CCC;
}
.btn-exit:hover {
	color: #666;
}

.onoffswitch {
	position: relative;
	width: 50px; height: 20px;
	vertical-align: bottom;
	margin-top: 6px;
	margin-right: 10px;
	display: inline-block;
	-webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
	display: none;
}
.onoffswitch-label {
	display: block; overflow: hidden; cursor: pointer;
	border: 2px solid #999999; border-radius: 20px;
	height: 20px;
}
.onoffswitch-inner {
	display: block; width: 200%; margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
	display: block; float: left; width: 50%; height: 23px; padding: 0; line-height: 15px;
	font-size: 10px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
	box-sizing: border-box;
}
.onoffswitch-inner:before {
	content: "NOT";
	padding-left: 8px;
	background-color: #D9534F; color: #FFFFFF;
}
.onoffswitch-inner:after {
	content: "";
	padding-right: 8px;
	background-color: #EEEEEE; color: #999999;
	text-align: right;
}
.onoffswitch-switch {
	display: block; width: 18px; margin: 1px;
	background: #FFFFFF;
	position: absolute; top: 0; bottom: 0;
	right: 30px;
	border: 2px solid #999999; border-radius: 20px;
	transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: -3px;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0;
}

/* Styles for info icon */
span.glyphicon.glyphicon-info-sign{
	font-size: 20px;
	float: right;
	margin-right: -2px;
	color: #ccc;
	top: 10px;
}
span.glyphicon.glyphicon-info-sign:hover{
	color:#66afe9;
	cursor: pointer;
}
.info-active{
	color:#66afe9 !important;
}
